@import "vars.scss";

@mixin rb-border {
  border-left: 1px solid $rb-border-color;
  border-right: 1px solid $rb-border-color;
}

@mixin rb-border-clean {
  border-left: 0;
  border-right: 0;
}

/* required to show drop down cursor for select box in FF */
.form-control {
  -moz-appearance: button;
}

.selector-disabled {
  pointer-events: none;
}

.app-preloader {
  height: 100vh;

  .row {
    min-height: 100%;
    height: 100%;
  }
}

#root,
html,
body {
  min-height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  background: url("../images/background.jpg");
  background-size: 84px 83px;
}

main {
  @include rb-border;
  padding-bottom: 31px;
  min-height: calc(100vh - 53px);
  background: $rb-background-color;

  .row {
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    &:nth-child(even) {
      background: $rb-verse-even-color;
    }

    .verse {
      white-space: pre-wrap;
    }

    .line {
      &:hover {
        background: $rb-verse-line-hover;
      }
    }
  }

  a {
    text-decoration: none;

    &:link,
    &:visited {
      color: $rb-verse-link-color;
    }
    &:hover {
      color: $rb-verse-hover-color;
    }
  }
}

header,
footer > .container {
  @include rb-border;
}

header {
  background: $rb-header-background-color;

  .icon-navigator {
    cursor: pointer;
    width: 2em;
    height: 2em;
    display: inline-block;
    background: $rb-header-navigator-arrow;
    margin-top: 0.2em;

    &:hover,
    &:focus {
      background: $rb-header-navigator-arrow-hover;
    }

    &:active {
      background: $rb-header-navigator-arrow-active;
    }
  }

  .icon-navigator-disabled {
    background: $rb-header-navigator-arrow-disabled;
    cursor: default;

    &:hover,
    &:focus,
    &:active {
      background: $rb-header-navigator-arrow-disabled;
    }
  }

  .icon-navigator-left {
    mask: url("../images/arrow_left.svg");
    mask-size: cover;
  }

  .icon-navigator-right {
    mask: url("../images/arrow_right.svg");
    mask-size: cover;
  }
}

footer {
  position: fixed;
  bottom: 0;
  overflow-y: hidden;
  width:100%;
  & > .container {
    background: $rb-footer-background-color;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  a {
    &:link,
    &:visited {
      color: $rb-footer-link-color;
    }
    &:hover {
      color: $rb-footer-hover-color;
    }
  }
}

.preloader-image {
  height: 100%;
  position: relative;
  &:before {
    width: 6em;
    height: 6em;
    content: "";
    position: absolute;
    top: calc(50% - 3em);
    left: calc(50% - 3em);
    display: inline-block;
    overflow: hidden;
    transform-origin: 46% 54%;
    animation: preloader-image-spin 1s linear infinite;
    background: url("../images/preloader.svg") no-repeat scroll 0 0
      rgba(0, 0, 0, 0);
  }
}

@keyframes preloader-image-spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 575px) {
  header {
    &.pb-2 {
      padding-bottom: 0 !important;
    }

    .row {
      padding-left: 0.7em;
      padding-right: 0.7em;

      .col-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }

    div:not(:last-child) {
      select {
        margin-bottom: 1em;
      }
    }
  }

  header,
  footer > .container,
  main {
    @include rb-border-clean;
  }
  main {
    min-height: calc(100vh - 162px);
  }
}
