$rb-background-color: #fff;
$rb-border-color: #928269;
$rb-verse-link-color: inherit;
$rb-verse-hover-color: #5a5a5a;
$rb-header-background-color: #dbd1c1;
$rb-footer-background-color: #dbd1c1;
$rb-footer-link-color: inherit;
$rb-footer-hover-color: #6c6c6c;
$rb-verse-even-color: #f5f5f5;
$rb-verse-line-hover: #f5deb3;
$rb-header-navigator-arrow: #a2865d;
$rb-header-navigator-arrow-hover: #826c4a;
$rb-header-navigator-arrow-active: #594a33ff;
$rb-header-navigator-arrow-disabled: #c7b79e;
