<?php declare(strict_types=1);

return [
    'bibx_folder' => '',

    // put 0 for unlimited queries
    'security_query_limit' => 0,

    // https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#configuration
    'db_driver' => '',
    'db_name' => '',
    'db_host' => '',
    'db_user' => '',
    'db_pass' => '',

    // skip if no production
    'stats_class' => '',

    // mailer settings
    'mailer' => [
        'name' => 'Postman',
        'smtp_host' => '',
        'smtp_user' => '',
        'smtp_password' => '',
        'smtp_port' => 0,
        'smtp_auth' => true,
    ],

    // settings used to report translation errors
    'report' => [
        // e-mail to address
        'email_to_address' => '',

        // e-mail to name
        'email_to_name' => '',

        // e-mail subject
        'subject' => '',
    ],
];
